@use '../../foundation/import.scss' as *;

/* === デバッグ用各要素アウトライン
* {
    outline: 1px solid red;
} === */


.main-panel {
    //左側パネル【未達成タスク・完了タスク】
    .left-panel {

        //未達成タスクパネル
        .stock-item.is-done {
            opacity: .5;
        }

        .stock-item.is-done .stock-label {
            text-decoration: line-through;
        }

        .stock-actions {
            width: 2rem;
        }

        .stock-clear {
            opacity: .7;
        }

        .stock-clear:disabled {
            opacity: .3;
            pointer-events: none;
        }
    }

    //右パネル【dailyTODO・タスクコントロール・メモinfo】
    .right-panel {

        //dailyTODOパネル
        .daily-todo {
            .todo-item.is-done {
                opacity: .5;
            }

            .todo-item.is-done span {
                text-decoration: line-through;
            }

            //メモを未達成パネルに移動するボタン【＜】
            .memo__move {
                background: #e6f4ea;
                color: var(--sub-main);
                font-size: var(--font-size-xl);
            }
        }

        //作業計測タイマー
        .timer__display{
            font-size: var(--font-size-2xl);
        }
        .timer__btn{
            padding: .5rem;
            background-color: #e6f4ea;
            border-radius: 5px;
        }

        .memo {
            @include media-query(sm) {
                gap: 0;

                .l-column--3 {
                    width: 100%;
                }

                .l-column--9 {
                    width: 100%;
                }
            }

            .memo__save,
            .memo__clear {
                background: #e6f4ea;
                color: var(--sub-main);
                font-size: var(--font-size-xl);
            }
        }

        /* 伝言パネル */
        .memo__preview {
            .memo__preview-label {
                font-size: var(--font-size-xl);
            }

            .memo__display {
                font-size: var(--font-size-3xl);
                line-height: 1.6;
                font-weight: var(--font-weight-bold);

                @include media-query(md) {
                    font-size: var(--font-size-2xl);
                }
            }
        }
    }
}