@use '../../foundation/import.scss' as *;

/* === デバッグ用各要素アウトライン
* {
    outline: 1px solid red;
} === */


.main-panel {
    .daily-todo {


        .memo__move {
            background: #e6f4ea;
            color: var(--sub-main);
            font-size: var(--font-size-xl);
        }
    }

    .home-info {
        border: solid var(--sub-color);

        .memo {
            @include media-query(sm) {
                gap: 0;

                .l-column--3 {
                    width: 100%;
                }

                .l-column--9 {
                    width: 100%;
                }
            }

            .memo__save,
            .memo__clear {
                background: #e6f4ea;
                color: var(--sub-main);
                font-size: var(--font-size-xl);
            }
        }

        /* 伝言パネル */
        .memo__preview {
            .memo__preview-label {
                font-size: var(--font-size-xl);
            }

            .memo__display {
                font-size: var(--font-size-3xl);
                line-height: 1.6;
                font-weight: var(--font-weight-bold);

                @include media-query(md) {
                    font-size: var(--font-size-2xl);
                }
            }
        }
    }
}