@use '../../foundation/import.scss' as *;

// ------------------------------
// ◆ コントロールボタンパネル
// ------------------------------

.controls {
    .l-inner {
        @include media-query(md) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            gap: .5rem;
        }


    }
}