@use '../../foundation/import.scss' as *;

/* コントロールボタンパネル */
.controls {
    .l-inner {
        @include media-query(md) {
            gap: .5rem;
        }
    }

    .controls__btn {
        background-color: #d0d3d8;
        color: #3f5f9a;
    }


    .controls__btn p {
        margin: 0;
        color: #111;
        font-size: var(--font-size-base);
        font-weight: bold;
    }
}