<header class="l-header flex items-center">
    <div class="header__container l-container flex items-center px-6 bg-sub">
        <div class="header__inner flex w-full">
            <!-- メニュー -->
            <!-- PCナビ -->
            <nav class="header__nav pc-nav l-row l-row--gap">

                {{!-- 時計表示 --}}
                <section class="clock-area l-column l-column--4 flex items-center font-bold ">
                    <div id="date" class="date en font-semibold text-center">---- --/--</div>
                    <div id="clock" class="clock en text-center pl-4">00:00</div>

                </section>

                <ul class="header__nav-inner l-row items-center font-bold l-column l-column--8 l-row l-row--gap">
                    <li class="header__text l-column l-column--3">
                        <a href="">sample</a>
                    </li>
                    <li class="header__text l-column l-column--3">
                        <a href="">sample</a>
                    </li>
                    <li class="l-column l-column l-column--3">
                        <a href="">sample</a>
                    </li>
                    <li class="l-column l-column l-column--3">
                        <Button href="リンク" class="header__btn btn btn--primary">
                            <span>ボタンテキスト</span>
                        </Button>
                    </li>
                </ul>
            </nav>


            <!-- ハンバーガーボタン（SP用） -->
            <button class="hamburger openbtn" aria-label="メニューを開く">
                <span></span><span></span><span></span>
            </button>

            <!-- スマホナビ -->
            <nav id="global-nav" class="sp-nav font-bold hidden">
                <ul>
                    <li><a href="/">トップ</a></li>
                    <li> <a href="">sample</a></li>
                    <li> <a href="">sample</a></li>
                    <li> <a href="">sample</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>