<div class="main-panel l-row l-row--gap l-inner bg-color py-8 px-4 sm:py-6">


    <div class="left-panel l-column l-column--4 flex flex-col">
        <section class="stock-panel px-4 py-4 bg-sub color-text-sub">
            <div class="flex justify-between">
                <h3 clasS="en"><i class="fas fa-xmark mr-2 color-text"></i>Incomplete Tasks</h3>
                <button id="clear-done-stock" class="stock-clear color-text-sub">
                    完了済みを削除
                </button>
            </div>
            <ul id="stock-list" class="py-2"></ul>
        </section>

        <section class="today-log px-4 py-4 bg-sub color-text-sub mt-4">
            <h3 class="en"><i class="fas fa-circle-check mr-2  color-text"></i>Completed Tasks</h3>
            <ul id="today-log-list"></ul>
            <div class="today-summary mt-4 flex justify-end items-center">
                <i class="fas fa-stopwatch mr-2"></i>今日の作業時間：
                <span id="today-total-time">0秒</span>
            </div>
        </section>
    </div>

    <div class="right-panel l-column l-column--8 flex flex-col">
        {{!-- パネル上部 --}}
        <div class="l-row l-row--gap">

            {{!-- daily TODO --}}
            <div class=" l-column l-column--8 bg-sub">
                <div class="daily-todo py-4 px-4" aria-live="polite">
                    <h3 class="color-text-sub en"><i class="fas fa-calendar-day mr-2 color-text"></i>Daily TODO</h3>
                    <ul id="daily-list" class="color-text-sub"></ul>
                    <div class="flex justify-end">
                        <button type="button" id="move-to-stock" class="memo__move py-4 px-4 mt-2 rounded color-text">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                    </div>
                </div>
            </div>


            {{!-- 作業コントロールパネル --}}
            <div class="bg-sub l-column l-column--4 px-4 py-4">
                <h3 class="color-text-sub en"><i class="fas fa-hourglass-half color-text mr-2"></i>Task Controls</h3>
                {{!-- 作業計測タイマー --}}
                <div class="work-timer bg-accent py-4 px-4 rounded">
                    <div id="timer-display" class="timer__display text-center en font-bold">0秒</div>

                    <div class="l-row l-row--gap justify-center">
                        <button id="timer-start" class="timer__btn">▶</button>
                        <button id="timer-stop" class="timer__btn">⏸</button>
                        <button id="timer-reset" class="timer__btn">⏹</button>
                    </div>
                </div>

            </div>
        </div>

        {{!-- パネル下部 --}}
        <section class="memo-info card bg-sub mt-4">

            <div class="memo-info__grid">
                {{!--メモ欄 --}}
                <section class="memo l-row l-row--gap" aria-label="メモ・アイデア・ログ">
                    {{!-- インプット入力フォーム --}}
                    <form id="memo-form" class="memo__form l-column l-column--6 py-4 px-4">
                        <textarea id="memo-input" class="memo__input w-full" rows="3" maxlength="120"
                            placeholder="今日やることを追加"></textarea>

                        {{!-- 保存ボタンと削除ボタン --}}
                        <div class="memo__actions">
                            <button type="submit" class="memo__save py-4 px-4 rounded"><i
                                    class="fa-solid fa-check"></i></button>
                            <button type="button" id="memo-clear" class="memo__clear py-4 px-4 rounded"><i
                                    class="fa-solid fa-trash"></i></button>
                        </div>
                    </form>

                    <div class="l-column l-column--6 py-4 px-4">

                    </div>


                </section>
            </div>
        </section>

    </div>

</div>