<!-- 各ツールボタン -->

<section class="controls">
    <div class="l-inner bg-sub py-4 px-4 l-row l-row--gap sm:flex-col">
        {{!-- chatGPTボタン --}}
        <button class="btn controls__btn bg-accent" id="btnChatGPT">
            <span></span>
            <i class="fa-solid fa-robot"></i>
            <p>chatGPT</p>
        </button>


        {{!-- 外部ページ移管ボタン ・後で内容書き換え--}}
        <button class="btn controls__btn nav-btn bg-accent" data-page="yuuma">
            <i class="fa-solid fa-child-reaching"></i>
            <p>Amazon</p>
        </button>

        <button class="btn controls__btn nav-btn bg-accent" data-page="asha">
            <i class="fa-solid fa-person-dress"></i>
            <p>notion</p>
        </button>

        <button class="btn controls__btn nav-btn bg-accent" data-page="sota">
            <i class="fa-solid fa-user-tie"></i>
            <p>コーディングツール</p>
        </button>

        {{!-- <button class="btn controls__btn">
            <span></span>
            <i class="fa-solid fa-house"></i>
            <p>仮5</p>
        </button>

        <button class="btn controls__btn">
            <i class="fa-solid fa-robot"></i>
            <p>仮6</p>
        </button>

        <button class="btn controls__btn">
            <i class="fa-solid fa-map-location-dot"></i>
            <p>仮7</p>
        </button>

        <button class="btn controls__btn">
            <i class="fa-solid fa-language"></i>
            <p>仮8</p>
        </button> --}}
    </div>
</section>